.main{
    
     margin-top: 0px;
     margin-bottom: 0;
     top: 0;
     
     display: flex;
     
     background-color: rgb(15, 88, 170);
     border-bottom: 1px solid rgba(238, 238, 238, 0.3);
     font-family: 'Raleway', sans-serif;
     font-size: 16px;
     color: white;
     height: 40px;
}